<div class="relative h-screen w-full overflow-hidden">
    {{ if .Site.Params.hero.video }}
    <div class="absolute inset-0">
        <video 
            autoplay 
            loop 
            muted 
            playsinline
            class="object-cover w-full h-full"
        >
            <source src="{{ .Site.Params.hero.video }}" type="video/mp4">
        </video>
        <!-- Overlay -->
        <div class="absolute inset-0 bg-black opacity-80"></div>
    </div>
    {{ end }}
    
    <div class="relative z-10 flex flex-col items-center justify-center h-full text-center text-white px-4">
        <h1 class="text-5xl md:text-6xl font-bold mb-4">
          <span class="text-white">Go</span>
          <span class="text-red-500">Red</span>
          <span class="text-white">Team</span>
        </h1>
        
    </div>
</div> 
